<component name="ArtifactManager">
  <artifact type="war" name="MybatisDemo1_quick:war">
    <output-path>$PROJECT_DIR$/MybatisDemo1_quick/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>MybatisDemo1_quick</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="MybatisDemo1_quick.war">
      <element id="artifact" artifact-name="MybatisDemo1_quick:war exploded" />
    </root>
  </artifact>
</component>