<component name="ArtifactManager">
  <artifact type="war" name="SpringDemo5_test:war">
    <output-path>$PROJECT_DIR$/SpringDemo5_test/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>SpringDemo5_test</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="SpringDemo5_test.war">
      <element id="artifact" artifact-name="SpringDemo5_test:war exploded" />
    </root>
  </artifact>
</component>