<component name="ArtifactManager">
  <artifact type="war" name="SpringDemo9_tx:war">
    <output-path>$PROJECT_DIR$/SpringDemo9_tx/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>SpringDemo9_tx</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="SpringDemo9_tx.war">
      <element id="artifact" artifact-name="SpringDemo9_tx:war exploded" />
    </root>
  </artifact>
</component>