<component name="ArtifactManager">
  <artifact type="war" name="SpringDemo1_ioc:war">
    <output-path>$PROJECT_DIR$/SpringDemo1_ioc/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>SpringDemo1_ioc</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="SpringDemo1_ioc.war">
      <element id="artifact" artifact-name="SpringDemo1_ioc:war exploded" />
    </root>
  </artifact>
</component>